
.cartHolder { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    margin: 0 1.5rem;
}


/* .cartSummery { 
    background-color: green;
} */

@media screen and (max-width: 768px) {
    .cartHolder { 
        flex-direction: column;
        align-items: center;
    }
}

