 /* empty cart  */
.cartEmpty{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartEmpty > h2 , a  { 
    margin: 1rem 0;
}

/* add product in cart  */
.cartHolder { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    margin: 0 1.5rem;
}


@media screen and (max-width: 768px) {
    .cartHolder { 
        flex-direction: column;
        align-items: center;
    }
}
