
.cartHolder { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    margin: 0 1.5rem;
}


.cartSummery { 
    background-color: green;
}