

.inputContainer{ 
    /* background-color: #f9fafb; */
    padding: 12px 18px;
    margin: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    color: #6d28d9;
    width: 300px;
    /* border: solid 2px #6d28d9; */
}

.inputItems { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0;
}

.err { 
    font-size: 12px;
    margin-top: 3px;
    color: #eb3434;
    text-align: left;
}

.inputContainer label { 
    display: inline-block;
    /* width: 220px; */
    margin: 2px 0 ;
}

.inputContainer input { 
    width: 250px;
    /* background-color: #e2e8f0; */
    outline: rgb(36, 22, 1);
    border-radius: 5px;
    padding: 5px;
    margin: 3px 7px;
    border: none;
}

.inputContainer input:focus { 
    /* background: linear-gradient(180deg,#dbc2c278, #82b8e166); */
    border: solid 2px #6d28d9;
}