.holderNavigatin {
     background-color: #ede9fe;
     padding: 8px;
     margin: 8px;
}

.listContainer { 
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.listItem { 
    padding: 5px;
}

.listItem a { 
    color: #6d28d9;
    padding: 8px;
    border-radius: 8px;
}

.listItem a:hover { 
    background-color: #fff;
}